.top {
	background: #1e1b29;
	color: #fff;
	font-size: 12px;
}
.top a {
	color: #fff;
}

.top-lef > li, .top-rt > li {
	height: 28px;
	line-height: 28px;
}
.arrow-down-s {
	cursor: pointer;
	transition: all .3s;
	transform: rotateZ(0deg);
	font-size: 0;
}
.arrow-down-s img {
	width: 16px;
	vertical-align: middle;
}
.client-serve:hover .arrow-down-s{
	transition: all .3s;
	transform: rotateZ(180deg);
}
.client-serve {
	position: relative;
}
.client-serve-list {
	display: none;
	position: absolute;
	top: 28px;
	left: -10px;
    border: 1px #f1f1f1 solid;
    border-width: 0 1px 1px 1px;
    background: #fff;
    padding: 5px 0;
    margin: 1px;
    z-index: 3000;
}
.client-serve:hover .client-serve-list {
	display: block;
}
.client-serve-list li {
	width: 80px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.client-serve-list li > a {
	color: #1E1B29;
}

.focus-circlet {
	padding: calc((100vh - 240px - 93px)/2) 0;
	background: rgba(0,0,0,0.3);
}

.nav {
	    background-color: rgba(255,255,255,.9);
	    position: absolute;
	    top: 28px;
	    left: 0;
	    width: 100%;
	    z-index: 2600;
}
.nav-lef {
	position: relative;
	height: 85px;
	width: 45px;
	/*background: url(../img/logo.png) no-repeat center center;*/
	/*line-height: 85px;*/
}
.nav-rt li {
	height: 80px;
	line-height: 80px;
	padding: 0 20px;
}
.nav-rt li:last-child {
	padding-right: 0;
}
.nav-rt a {
	color: #333;
    font-size: 16px;
}
.wrapper {
	height: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.banner-list .banner:nth-child(2) .wrapper{
	background: url(../img/glass.png);
}
.thirdly-page-bg {
	background-image: url(../img/bg03.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.thirdly-page-bg-s {
	transition: all ease 3s;
	background-size: 106%;
}
.wrapper-foot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,0.7);
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.wrapper-foot-info {
	width: 1200px;
	margin: 0 auto;
} 
.wrapper-foot-item {
	position: relative;
	width: 20%;
	padding: 20px 0;
	cursor: pointer;
}
.wrapper-foot-item:not(:first-child):after {
	content: '';
	display: block;
	border: 1px solid #fff;
	padding-top: 10%;
	position: absolute;
	top: 32%;
	left: 0;
}
.wrapper-foot-item:hover span {
	opacity: .7;
}
.wrapper-foot-item:hover img {
	opacity: .7;
}
.wrapper-foot-item:active {
	opacity: 1!important;
}
.video-wrapper {
	width: 100%;
	height:calc(100vh - 28px);
	position: relative;
	margin:auto;
	overflow: hidden;
}
.video-txt {
	transition: all .7s;
	position: absolute;
	top: 128px;
	left: calc(50% - 600px);
	width: 1200px;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	z-index: 2600;
}
.video-txt-left {
	width: 1200px;
	display: flex;
	justify-content: space-around;
}
.video-txt-left div {
	width: 25%;
	text-shadow: 0px 0 8px #000;
}
.video-txt-left div:nth-child(2) {
	width: 50%;
}
.video-txt-hidden {
	opacity: 0;
}
.video-txt-show {
	transition: all 10s;
	opacity: 1;
}


.video-txt p {
	text-align: left;
}
.logo-wrapper {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	z-index: 26000;
}

.cover-hand-move {
  background-image: url(../img/glass.png);
  height: calc(100% - 85px);    
  top: 85px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-align: left;
}


.slider-wrap {
	position: relative;
	height: calc(100vh - 28px);
	overflow: hidden;
}
.banner-list {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
}
.banner{
	height: calc(100vh - 28px);
	width: 100vw;
}
.banner:nth-child(1){
	background: red;
}
.banner:nth-child(2){
	background: green;
}
.banner:nth-child(3){
	background: blue;
}
.focus-list {
	position: absolute;
	top: calc(50% - 72px);
	right: 50px;
}
.focus-arrow-list {
	position: absolute;
	bottom: 80px;
	left: calc(50% - 24px);
}
.focus-arrow-list  img {
	cursor: pointer;
}
.focus-btn {
	cursor: pointer;
	background: #fff;
	width: 12px;
	height: 12px;
	border: 1px solid #CCCCCC;
	border-radius: 100%;
	margin-bottom: 10px;
	text-align: center;
	line-height: 12px;
}
.focus-btn-active {
	background: #00BBEE;
	border: 1px solid #00BBEE;				
}
.photo-list-wrapper {
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.photo-list {
	position: absolute;
	top: calc(50% - 109px);
	left: 0;
}
.photo-item {
    position: relative;
    background-color: #f2eada;
    margin: 5px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0.2em 0.2em 0.8em #130c0e;
    margin-right: -25px;
}
.photo-item:nth-child(odd){
	transform: rotateZ(20deg);
}
.photo-item:nth-child(even){
	transform: rotateZ(-20deg);
}
.photo-item:first-child, .photo-item:last-child {
	margin-top: -40px;
}
.photo-item img {
	width: 300px;
}
.photo-item p {
	font-size: 20px;
	margin-top: 5px;
}

