.top {
	background: #1e1b29;
	color: #fff;
	font-size: 12px;
}
.top a {
	color: #fff;
}

.top-lef > li, .top-rt > li {
	height: 28px;
	line-height: 28px;
}

.arrow-down-s {
	cursor: pointer;
	transition: all .3s;
	transform: rotateZ(0deg);
	font-size: 0;
}
.arrow-down-s img {
	width: 16px;
	vertical-align: middle;
}
.client-serve:hover .arrow-down-s{
	transition: all .3s;
	transform: rotateZ(180deg);
}
.client-serve {
	position: relative;
}
.client-serve-list {
	display: none;
	position: absolute;
	top: 28px;
	left: -10px;
    border: 1px #f1f1f1 solid;
    border-width: 0 1px 1px 1px;
    background: #fff;
    padding: 5px 0;
    margin: 1px;
    z-index: 3000;
}
.client-serve:hover .client-serve-list {
	display: block;
}
.client-serve-list li {
	width: 80px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.client-serve-list li > a {
	color: #1E1B29;
}

.focus-circlet {
	padding: calc((100vh - 240px - 93px)/2) 0;
	background: rgba(0,0,0,0.3);
}
/*二级导航条*/
.nav {
	transition: background 0.7s;
    background: rgba(255,255,255,.9);
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    z-index: 2600;
}
.nav-active {
	transition: background 0.7s;
	background: rgba(124,132,144,0.8);
	border-bottom: 1px solid #efefef;
}
.nav-lef {
	position: relative;
	height: 85px;
	width: 45px;
}
.nav-rt li {
	height: 80px;
	line-height: 80px;
	padding: 0 20px;
}
.nav-rt li:last-child {
	padding-right: 0;
}
.nav-rt a {
	color: #333;
    font-size: 16px;
}
.nav-active a {
	color: #fff!important;
	text-shadow: 0px 0 8px #000;
}
/*轮播图*/
.wrapper {
	height: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.banner-list .banner:nth-child(2) .wrapper{
	background: url(../img/glass.png);
}

/*底部导航条*/
.wrapper-foot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 16px;
	color: #fff;
	background: rgba(0,0,0,0.3);
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	z-index: 2000;
}
.wrapper-foot-info {
	width: 1200px;
	margin: 0 auto;
} 
.wrapper-foot-item {
	position: relative;
	width: 20%;
	padding: 20px 0;
	cursor: pointer;
	text-align: center;
}
.wrapper-foot-icon {
	position: relative;
	padding-right: 40px;
}
.wrapper-foot-icon i {
	position: absolute;
	top: -5px;
	left: 0;
	font-size: 22px!important;
}
.foot-icon-txt {
	padding-left: 15px;
	border-left: 0.5px solid #fff;
}

.wrapper-foot-item:hover {
	opacity: .7;
}

.wrapper-foot-item:active{
	opacity: 1!important;
}

/*页面一*/
.video-wrapper {
	width: 100%;
	height:calc(100vh - 28px);
	position: relative;
	margin:auto;
	overflow: hidden;
}
.video-txt {
	transition: all .7s;
	position: absolute;
	top: 128px;
	left: calc(50% - 600px);
	width: 1200px;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	z-index: 2600;
}
.video-txt-left {
	width: 1200px;
	display: flex;
	justify-content: space-around;
}
.video-txt-left div {
	width: 25%;
	text-shadow: 0px 0 8px #000;
}
.video-txt-left div:nth-child(2) {
	width: 50%;
}
.video-txt-hidden {
	opacity: 0;
}
.video-txt-show {
	transition: all 10s;
	opacity: 1;
}

.video-txt p {
	text-align: left;
}
.logo-wrapper {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	z-index: 26000;
}
/*页面二*/
.cover-hand-move {
  background-image: url(../img/glass.png);
  height: calc(100% - 85px);    
  top: 85px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.slider-wrap {
	position: relative;
	height: calc(100vh - 28px);
	overflow: hidden;
}
.banner-list {
	position: absolute;
	/*top: 0;*/
	left: 0;
	transition: all 0.5s ease;
}
.banner{
	position: relative;
	height: calc(100vh - 28px);
	width: 100vw;
}
.banner:nth-child(1){
	/*background: red;*/
}
.banner:nth-child(2){
	background-image: url(../img/glass.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner:nth-child(3){
	background: blue;
}
/*轮播图按钮*/
.focus-list {
	position: absolute;
	top: calc(50% - 72px);
	right: 50px;
	z-index: 2000;
}
.focus-arrow-list {
	position: absolute;
	/*top: 0;*/
	bottom: 80px;
	left: calc(50% - 24px);
	z-index: 2000;
}
.focus-arrow-list  img {
	cursor: pointer;
}
.focus-btn {
	cursor: pointer;
	background: #fff;
	width: 12px;
	height: 12px;
	border: 1px solid #CCCCCC;
	border-radius: 100%;
	margin-bottom: 10px;
	text-align: center;
	line-height: 12px;
}
.focus-btn-active {
	background: #00BBEE;
	border: 1px solid #00BBEE;				
}
/*页面三*/
.thirdly-page-bg {
	transform: scale(1);
	transition: all 5s;
	width: 100%;
}
.thirdly-page-bg-s {
	transform: scale(1.05);
}
.thirdly-page .wrapper-foot-item {
	width: 25%;
}
.photo-list {
	position: absolute;
	top: calc(50% - 109px);
	left: calc(50% - 600px);
	z-index: 2000;
}
.photo-item {
    position: relative;
    background-color: #f2eada;
    margin: 5px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0.2em 0.2em 0.8em #130c0e;
    margin-right: -25px;
    cursor: pointer;
}
.photo-item:hover {
	box-shadow: 0.2em 0.2em 0.8em #ad9ca0;
}
.photo-item:nth-child(odd){
	transform: rotateZ(10deg);
}
.photo-item:nth-child(even){
	transform: rotateZ(-10deg);
}
.photo-item:first-child, .photo-item:last-child {
	margin-top: -40px;
}
.photo-item img {
	width: 300px;
	height: 230px;
}
.photo-item-img {
	height: 230px;
	overflow: hidden;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.photo-item-img-1{
	background-image:url(../img/thirdly01.jpg);
}
.photo-item-img-2{
	background-image:url(../img/thirdly02.jpg);
}
.photo-item-img-3{
	background-image:url(../img/thirdly03.jpg);
}
.photo-item-img-4{
	background-image:url(../img/thirdly04.jpg);
}

.photo-txt {
	margin-top: 5px;
	width: 300px;
	min-height: 80px;
	/*line-height: 60px;*/
	font-size: 16px;
	color: #999;
	/*text-align: left;*/
}

