* {
    padding: 0px;
    margin: 0px;
}

.container-hand-move {
    background-image: url(../img/glass.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    top: 85px;
    height: calc(100% - 85px);
    text-align: left;
}

.container-hand-move .bg-mask {
    height: 100%;
    width: auto;
    -webkit-mask-image: url(../img/mask.png), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    -webkit-mask-image: url(../img/mask.png), linear-gradient(0deg, transparent, transparent);
    mask-image: url(../img/mask.png), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    mask-image: url(../img/mask.png), linear-gradient(0deg, transparent, transparent);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation: maskClip 1.5s cubic-bezier(0, 0, 1, 1);
    animation: maskClip 1.5s cubic-bezier(0, 0, 1, 1);
}

.container-hand-move .hold-hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-hand-move .hold-hand .hand {
    position: absolute;
    height: 160%;
    top: 0%;
    left: calc(-40vh - -34px);
    -webkit-animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
    animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
}

@-webkit-keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@-webkit-keyframes xAxis {
    100% {
        top: 9%;
        left: calc(50vh - 42.5px);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
}

@keyframes xAxis {
    100% {
        top: 9%;
        left: calc(50vh - 42.5px);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
}

/*界面四*/

/** {
  padding: 0px;
  margin: 0px;
}*/

.arc-container {
    position: relative;
    height: 100%;
    background-image: url(../img/arc-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arc-container .arc-info p {
    font-family: video-top-font;
    text-align: left;
    font-size: 37px;
    text-shadow: 2px 2px 5px #fff;
}

.arc-container .arc-info {
    position: absolute;
    right: 10%;
    top: 20%;
    letter-spacing: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #826406;
    width: 40%;
}

.arc-container .arc-info .text-con {
    text-decoration: overline;
}

.arc-container .arc-left {
    position: absolute;
    top: 80px;
    left: 0px;
    /* height: 80%; */
    width: 39%;
}

.arc-container .outline-black {
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* height: 52%; */
    width: 45%;
    z-index: 2;
}

.arc-container .outline {
    position: absolute;
    bottom: 100%;
    right: 100%;
    /* height: 80%; */
    width: 69%;
    -webkit-animation: outline-move 4s ease both;
    animation: outline-move 4s ease both;
}

@-webkit-keyframes outline-move {
    100% {
        right: 0%;
        bottom: 0%;
    }
}

@keyframes outline-move {
    100% {
        right: 0%;
        bottom: 0%;
    }
}

/*界面五*/

.branch-map-l {
    width: 118.12vh;
    text-align: left;
    height: 80vh;
    position: relative;
    /* margin:auto; */
    left: 5%;
}

.map-content-box {
    width: 100%;
    height: 100%;
    background: url(../img/map.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    /* transform: scale(1.5); */
}

.map-dot {
    position: absolute;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.beijing {
    left: 68.90459364%;
    top: 38.26086957%;
}

.tianjin {
    left: 71.14252061%;
    top: 40.69565217%;
}

.hainan {
    /* left:200px;
    top:200px; */
    left: 61.60188457%;
    top: 93.04347826%;
}

.hebei {
    left: 575px;
    top: 254px;
}

.shanxi {
    left: 540px;
    top: 276px;
}

.liaoning {
    left: 77.7385159%;
    top: 34.08695652%;
}

.xinjiang {
    left: 27.44405183%;
    top: 28.34782609%;
}

.jilin {
    left: 696px;
    top: 167px;
}

.heilongjiang {
    left: 79.62308598%;
    top: 18.43478261%;
}

.shanghai {
    left: 78.68080094%;
    top: 60.86956522%;
}

.jiangsu {
    left: 76.08951708%;
    top: 54.95652174%;
}

.zhejiang {
    left: 77.14958775%;
    top: 65.91304348%;
}

.anhui {
    left: 71.26030624%;
    top: 58.08695652%;
}

.fujian {
    left: 73.61601885%;
    top: 74.43478261%;
}

.jiangxi {
    left: 70.08244994%;
    top: 69.91304348%;
}

.shandong {
    left: 71.84923439%;
    top: 49.39130435%;
}

.henan {
    left: 562px;
    top: 316px;
}

.hubei {
    left: 65.37102473%;
    top: 62.43478261%;
}

.hunan {
    left: 545px;
    top: 409px;
}

.guangdong {
    left: 67.72673734%;
    top: 81.04347826%;
}

.guangxi {
    left: 506px;
    top: 461px;
}

.chongqing {
    left: 58.65724382%;
    top: 63.30434783%;
}

.sichuan {
    left: 50.05889282%;
    top: 61.56521739%;
}

.guizhou {
    left: 57.00824499%;
    top: 73.73913043%;
}

.yunnan {
    left: 405px;
    top: 462px;
}

.shanxi1 {
    left: 59.12838634%;
    top: 54.26086957%;
}

.map-dot:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #01B7BD;
    border-radius: 50%;
}

.map-dot.beijing:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.map-dot.jiangxi:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    /* color:red; */
}

.branch-map-data {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 430px;
    border: 1px solid #01B7BD;
    -webkit-box-shadow: 0 0 2px 2px #e9e9e9;
    box-shadow: 0 0 2px 2px #e9e9e9;
    background-color: #fff;
    padding: 10px 30px;
    z-index: 1;
    display: none;
}

.branch-map-data-title {
    border-bottom: 1px solid #eee;
}

.branch-map-data-title p {
    font-size: 18px;
    color: #333;
    line-height: 28px;
}

.branch-map-data-info {
    max-height: 236px;
    overflow-y: auto;
}

.data-branch {
    border-bottom: 1px dashed #eee;
    padding: 6px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.data-branch:last-child {
    border: none;
}

.data-branch .data-name {
    font-size: 14px;
    color: #666;
    line-height: normal;
    margin-bottom: 5px;
}

.data-branch p {
    font-size: 12px;
    color: #999;
    line-height: 20px;
}

.data-branch p {
    font-size: 12px;
    color: #999;
    line-height: 20px;
}

.branch-map-data:before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent #01B7BD transparent transparent;
}

.branch-map-data:after {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent #fff transparent transparent;
}

.map-dot.cur:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #01B7BD;
    -webkit-animation: dot 4s infinite;
    animation: dot 4s infinite;
}

@-webkit-keyframes dot {
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(-50%) scale(1.5);
        transform: translateX(-50%) scale(1.5);
        opacity: .1;
    }
}

@keyframes dot {
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(-50%) scale(1.5);
        transform: translateX(-50%) scale(1.5);
        opacity: .1;
    }
}

.map-table {
    display: table;
    height: 100%;
    width: 100%;
    background-image: url(../img/map-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-table a {
    text-decoration: none;
    color: #000;
}

.map-cell {
    display: table-cell;
    vertical-align: middle;
}

.map-text-info {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 0px;
    height: 50%
}

.map-text-info img {
    height: 100%;
    width: auto;
}

.map-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/*云朵运动的动画*/

.map-container .cloud-top {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    -webkit-animation: top-cloud-move 50s cubic-bezier(0, 0, 1, 1) infinite alternate;
    animation: top-cloud-move 50s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

.map-container .cloud-bottom {
    position: absolute;
    height: 60%;
    right: 0px;
    bottom: 0px;
    -webkit-animation: bottom-cloud-move 80s cubic-bezier(0, 0, 1, 1) infinite alternate;
    animation: bottom-cloud-move 80s cubic-bezier(0, 0, 1, 1) infinite alternate;
}

@-webkit-keyframes bottom-cloud-move {
    100% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
}

@keyframes bottom-cloud-move {
    100% {
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
}

@-webkit-keyframes top-cloud-move {
    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

@keyframes top-cloud-move {
    100% {
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

/*ie下手滑动效果的降级方案*/

.container-hand-move-ie {
    background-image: url(./img/glass.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    top: 85px;
    height: calc(100% - 85px);
    text-align: left;
}

.container-hand-move-ie .bg-mask {
    height: 100%;
    width: auto;
}

.container-hand-move-ie .hold-hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-hand-move-ie .hold-hand .hand {
    position: absolute;
    height: 160%;
    top: 0%;
    left: calc(55vh - 46.75px);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

/*视屏相关*/

@font-face {
    font-family: video-top-font;
    src: url('../font/video-top-font.ttf');
}

.video-top-font {
    font-family: video-top-font;
    font-size: 30px;
}

.video-top-text {
    position: absolute;
    height: 200px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 70px;
    z-index: 200;
    color: white;
    transition: 4s;
    text-shadow: 2px 2px 5px black;
}

.video-top-text div {
    font-family: video-top-font;
    margin: 0px 50px 0px 0px;
}

.video-top-text :last-child {
    margin: 0px;
}

.video-top-text-an-z {
    opacity: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.video-top-logo-hold {
    width: 300px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 5s;
    z-index: 200;
}

.video-top-text-an-z-logo {
    opacity: 1;
}

.video-end-hold {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 211;
    opacity: 0;
    transition: 4s;
    /* background-image: url(../img/video-bg.png); */
    background-color: #7e8591;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}

.video-bg-arc-hold {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    background-image: url(../img/video-bg-arc.png);
    /* background-color: #b7b7b7; */
    background-position: center;
    background-size: contain;
    background-repeat-y: no-repeat;
}

.vidoe-bg-font {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 50%;
}

.video-end-hold-in {
    opacity: 1;
}

.thirdly-page-top-text {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 9%;
    text-align: center;
    color: white;
    z-index: 300;
    font-size: 0px;
}

.thirdly-page-top-text img {
    height: 100%;
    width: auto;
}