* {
  padding: 0px;
  margin: 0px;
}
.container-hand-move {
  background-image: url(./img/glass.png);
  height: calc(100vh - 85px);    
  top: 85px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  text-align: left;
  
}
.container-hand-move .hold-hand {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.container-hand-move .hold-hand .hand {
  position: absolute;
  height: 160%;
  top: 0%;
  left: -55vh;
  -webkit-animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
          animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
}
.container-hand-move .bg-mask {
  height: 100%;
  -webkit-mask-image: url(./img/mask.png), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
  -webkit-mask-image: url(./img/mask.png), linear-gradient(0deg, transparent, transparent);
          mask-image: url(./img/mask.png), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
          mask-image: url(./img/mask.png), linear-gradient(0deg, transparent, transparent);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-animation: maskClip 1.5s cubic-bezier(0, 0, 1, 1);
          animation: maskClip 1.5s cubic-bezier(0, 0, 1, 1);
}
@-webkit-keyframes maskClip {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes maskClip {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes xAxis {
  100% {
    top: 8%;
    left: 53vh;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
@keyframes xAxis {
  100% {
    top: 8%;
    left: 53vh;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
