/*顶部导航*/
body {
	width: 100vw;
	height: 100vh;
}
.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.nav-top-icon {
    height: 3rem;
    padding: 0.5rem 0;
}

.nav-top-icon img {
    height: 100%;
}

.nav-top-btn {
	position: absolute;
	top: 0;
	right: 1rem;
	width: 4rem;
	height: 4rem;
}
.nav-btn {
	position: fixed;
	top: 100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	color: #fff;
	z-index: 102;
	transition: top 0.7s;
	padding-top: 8rem;
}
.nav-btn div{
	font-size: 1.5rem;
	text-align: center;
	padding: 1rem 0;
}
.nav-btn-close {
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: 4rem;
}
.nav-btn-close i{
	font-size: 4rem;
}

.nav-top-btn .line-wrapper {
	position: absolute;
	right: 1rem;
	width: 4rem;
    z-index: 106;
    transition: all .7s;
}
.nav-top-btn .line {
	position: absolute;
	right: 0;
	width: 2rem;
	border-bottom: 2px solid #4A75E6;
    z-index: 106;
    transition: all .7s;
}
.nav-top-btn .line-wrapper:nth-child(1) {
	bottom:68%;
}
.nav-top-btn .line-wrapper:nth-child(2) {
	bottom:51%;
}
.nav-top-btn .line-wrapper:nth-child(3) {
	bottom:35%;
}

/*主界面*/
.banners {
	position: fixed;
	top: 0;
	left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.banner-list {
	position: absolute;
	top: 0;
	left: 0;
}

/* 界面一 */

.first-page-info {
    position: absolute;
    top: 6rem;
    left: calc(50% - 13rem);
    width: 26rem;
    text-align: center;
}

.first-page-info img {
    width: 19rem;
}

.first-page-city {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50%;
    overflow: hidden;
}

.first-page-city img {
    width: 100%;
}

.first-page {
    background: radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
    /* background: radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa); */
    /* background: -o-radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
	background: -o-radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa);
	background: -moz-radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
	background: -moz-radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa); */
    background-attachment: fixed;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

/* 界面二 */

.second-page {
    background: url(../img/page02_.jpg) no-repeat;
    background-size: cover;
}

.second-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
}

.second-page-txt {
    position: absolute;
    top: 13rem;
    right: 1rem;
    color: #fff;
}

.second-page-info {
    font-size: 1rem;
    border-top: 2px solid #fff;
    margin-top: 0.5rem;
}
.second-page-img {
	position: absolute;
	/*bottom: -0.5rem;
	left: -10rem;*/
	bottom: 8.5rem;
	left: -38rem;
	width: 140vw;
}
.second-page-img img {
	width: 100%;
}
.second-page-img-animation {
	bottom: -0.5rem;
	transform: translateX(29rem) translateY(0);
	transition: all 1s;
}
/* 界面三 */

.third-page {
    /*background: url(../img/third_bg.jpg) -8rem no-repeat;
    background-size: cover*/
}
.cover-hand-move {
    background-image: url(../img/page03_bg.png);
    height: calc(100% - 80px);
    top: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.third-page-txt {
    position: absolute;
    left: 1rem;
    top: 12rem;
    z-index: 2000;
    opacity: 0;
}
.third-page-txt-show {
	opacity: 1;
	transition: opacity 1.5s;
}
.third-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
    color: #fff;
}
.aptitude-list div{
	margin-top: 0.5rem;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.container-hand-move {
    background-image: url(../img/page03_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    top: 4rem;
    height: calc(100% - 4rem);
    text-align: left;
}

.container-hand-move .bg-mask {
    height: 100%;
    width: auto;
    -webkit-mask-image: url(../img/mask_.jpg), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    -webkit-mask-image: url(../img/mask_.jpg), linear-gradient(0deg, transparent, transparent);
    mask-image: url(../img/mask_.jpg), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    mask-image: url(../img/mask_.jpg), linear-gradient(0deg, transparent, transparent);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation: maskClip 2s cubic-bezier(0, 0, 1, 1);
    animation: maskClip 2s cubic-bezier(0, 0, 1, 1);
}

.container-hand-move .hold-hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-hand-move .hold-hand .hand {
    position: absolute;
    height: 160%;
    top: 0%;
    left: calc(-40vh - -34px);
    -webkit-animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
    animation: xAxis 1s cubic-bezier(0, 0, 1, 1) forwards;
}

@-webkit-keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@-webkit-keyframes xAxis {
    100% {
        top: 9%;
        left: calc(50vh - 42.5px);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
}

@keyframes xAxis {
    100% {
        top: -3%;
        left: calc(10vh - 42.5px);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
}

/* 界面四 */

.fourth-page {
    background: url(../img/page04_.jpg) no-repeat;
    background-size: cover
}

.fourth-page-txt {
    position: absolute;
    left: calc(50% - 9rem);
    top: 8rem;
}

.fourth-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
    color: #fff;
}

.fourth-page-content {
    position: absolute;
    top: 12rem;
    left: 0;
    padding: 0 0.4rem;
    overflow: hidden;
    width: 100vw;
    height: 14rem;
    box-sizing: border-box;
}
.fourth-page-list {
	position: absolute;
	left: 0;
	width: 400vw;
	transition: left .7s;
}
.left-arrow, .right-arrow {
	position: absolute;
	top: calc(50% - 1.5rem);
	width: 3rem;
	height: 3rem;
	background: rgba(0,0,0,0.45);
	border-radius: 2px;
	z-index: 200;
	text-align: center;
	line-height: 3rem;
}
.left-arrow {
	left: 1rem;
}
.right-arrow {
	right: 1rem;
}
.left-arrow i, .right-arrow i {
	font-size: 2rem;
	color: #fff;
}
.fourth-page-item {
	width: 100vw;
	height: 14rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.fourth-page-item:nth-child(1) {
	background-image: url(../img/thirdly01.jpg);
}
.fourth-page-item:nth-child(2) {
	background-image: url(../img/thirdly02.jpg);
}
.fourth-page-item:nth-child(3) {
	background-image: url(../img/thirdly03.jpg);
}
.fourth-page-item:nth-child(4) {
	background-image: url(../img/thirdly04.jpg);
}
.fourth-img-list-wrapper {
	position: absolute;
	top: 26rem;
	overflow: scroll;
	width: 100vw;
}
.fourth-img-list {
	padding: 0.5rem 0;
	min-width: 32.8rem;
}
.fourth-img-item {
	display: inline-block;
	margin-right: 0.2rem;
	width: 8rem;
	height: 5rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
	box-sizing: border-box;
	font-size: 0;
	border-radius: 5px;
}
.fourth-img-item:nth-child(1) {
	border: 1px solid red;
	background-image: url(../img/thirdly01.jpg);
}
.fourth-img-item:nth-child(2) {
	background-image: url(../img/thirdly02.jpg);
}
.fourth-img-item:nth-child(3) {
	background-image: url(../img/thirdly03.jpg);
}
.fourth-img-item:nth-child(4) {
	background-image: url(../img/thirdly04.jpg);
}
.fourth-page-list-txt {
	position: absolute;
	top: 36rem;
	left: 0;
	padding: 2rem;
	color: #fff;
	text-align: center;
	width: calc(100vw - 4rem);
}
.fourth-page-item-txt {
	display: none;
}
.fourth-page-item-txt:nth-child(1) {
	display: block;
}
.fourth-page-nav {
	position: absolute;
	
}

/*界面五*/
.fifth-page {
	background-image: url(../img/page05_.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.fifth-page-top {
	padding: 6rem 0 2rem 2rem;
	font-family: 'fzztjw' !important;
	font-size: 1.6rem;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
}

.map-dot:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #01B7BD;
    border-radius: 50%;
}
.fifth-page-map {
	position: relative;
}
.fifth-page-list {
	width: 16rem;
	margin: 1rem auto;
}
.fifth-page-item {
	display: none;
	padding: 0 2rem;
	border: 1px solid #01B7BD;
	box-shadow: 0 0 2px 2px #e9e9e9;
}
.fifth-page-item:nth-child(1) {
	display: block;
}
.fifth-page-item div {
	border-top: 1px solid #eee;
	padding: 0.5rem 0;
}
/*界面六*/
.sixth-page {
	padding-top: 4.2rem;
	height: calc(100vh - 4rem);
	background: #000000;
}
.sixth-page-list {
	margin-right: -2%;
	flex-wrap: wrap;
}
.sixth-page-item {
	display: flex;
	/*width: 48%;*/
	width: 19rem;
	height: 6.25rem;
	background: #fff;
	margin: 0.1rem auto;
}
.item-img {
	/*height: 6rem;*/
	width: 11.5rem;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.sixth-page-item:nth-child(1) .item-img{
	background-image: url(../img/sixth01.jpg);
}
.sixth-page-item:nth-child(2) .item-img{
	background-image: url(../img/sixth02.jpg);
}
.sixth-page-item:nth-child(3) .item-img{
	background-image: url(../img/sixth03.jpg);
}
.sixth-page-item:nth-child(4) .item-img{
	background-image: url(../img/sixth04.jpg);
}
.sixth-page-item:nth-child(5) .item-img{
	background-image: url(../img/sixth05.jpg);
}
.sixth-page-item:nth-child(6) .item-img{
	background-image: url(../img/sixth06.jpg);
}
.item-content {
	padding: 0.2rem;
	width: 7.1rem;
}
.item-title, .item-txt {
	text-align: center;
}
.item-txt {
	width: 7.1rem;
	height: 2.4rem;
	margin-top: 0.2rem;
	font-size: 10px;
	color: #999;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	
}

.map-dot {
    position: absolute;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.beijing {
    left: 68.90459364%;
    top: 38.26086957%;
}

.tianjin {
    left: 71.14252061%;
    top: 40.69565217%;
}

.hainan {
    /* left:200px;
    top:200px; */
    left: 61.60188457%;
    top: 93.04347826%;
}

.hebei {
    left: 575px;
    top: 254px;
}

.shanxi {
    left: 540px;
    top: 276px;
}

.liaoning {
    left: 77.7385159%;
    top: 34.08695652%;
}

.xinjiang {
    left: 27.44405183%;
    top: 28.34782609%;
}

.jilin {
    left: 696px;
    top: 167px;
}

.heilongjiang {
    left: 79.62308598%;
    top: 18.43478261%;
}

.shanghai {
    left: 78.68080094%;
    top: 60.86956522%;
}

.jiangsu {
    left: 76.08951708%;
    top: 54.95652174%;
}

.zhejiang {
    left: 77.14958775%;
    top: 65.91304348%;
}

.anhui {
    left: 71.26030624%;
    top: 58.08695652%;
}

.fujian {
    left: 73.61601885%;
    top: 74.43478261%;
}

.jiangxi {
    left: 70.08244994%;
    top: 69.91304348%;
}

.shandong {
    left: 71.84923439%;
    top: 49.39130435%;
}

.henan {
    left: 562px;
    top: 316px;
}

.hubei {
    left: 65.37102473%;
    top: 62.43478261%;
}

.hunan {
    left: 545px;
    top: 409px;
}

.guangdong {
    left: 67.72673734%;
    top: 81.04347826%;
}

.guangxi {
    left: 506px;
    top: 461px;
}

.chongqing {
    left: 58.65724382%;
    top: 63.30434783%;
}

.sichuan {
    left: 50.05889282%;
    top: 61.56521739%;
}

.guizhou {
    left: 57.00824499%;
    top: 73.73913043%;
}

.yunnan {
    left: 405px;
    top: 462px;
}

.shanxi1 {
    left: 59.12838634%;
    top: 54.26086957%;
}

