/*顶部导航*/
body {
	width: 100vw;
	height: 100%;
}
.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.6);
    z-index: 100;
}

.nav-top-icon {
    height: 3rem;
    padding: 0.5rem 0;
}

.nav-top-icon img {
    height: 100%;
}

.nav-top-btn {
	position: absolute;
	top: 0;
	right: 1rem;
	width: 4rem;
	height: 4rem;
}
.nav-btn {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0,0,0,0.7);
	color: #fff;
	z-index: 102;
	transition: top 0.7s;
	padding-top: 8rem;
}
.nav-btn div{
	font-size: 1.5rem;
	text-align: center;
	padding: 1rem 0;
}
.nav-btn-close {
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: 4rem;
}
.nav-btn-close i{
	font-size: 4rem;
}

.nav-top-btn .line-wrapper {
	position: absolute;
	right: 1rem;
	width: 4rem;
    z-index: 106;
    transition: all .7s;
}
.nav-top-btn .line {
	position: absolute;
	right: 0;
	width: 2rem;
	border-bottom: 2px solid #4A75E6;
    z-index: 106;
    transition: all .7s;
}
.nav-top-btn .line-wrapper:nth-child(1) {
	bottom:68%;
}
.nav-top-btn .line-wrapper:nth-child(2) {
	bottom:51%;
}
.nav-top-btn .line-wrapper:nth-child(3) {
	bottom:35%;
}

/*主界面*/
.banners {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}
.banner {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.banner-list {
	position: absolute;
	top: 0;
	left: 0;
}

/* 界面一 */

.first-page-info {
    position: absolute;
    top: 6rem;
    left: calc(50% - 13rem);
    width: 26rem;
    text-align: center;
}

.first-page-info img {
    width: 19rem;
}

.first-page-city {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50%;
    overflow: hidden;
}

.first-page-city img {
    width: 100%;
}

.first-page {
    background: radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
    /* background: radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa); */
    /* background: -o-radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
	background: -o-radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa);
	background: -moz-radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
	background: -moz-radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa); */
    background-attachment: fixed;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

/* 界面二 */

.second-page {
    background: url(../img/pages_02.jpg) no-repeat;
    background-size: cover;
}
.second-page-img-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
}
.second-page-img-top img {
	width: 100%;
}
.second-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
}

.second-page-txt {
    position: absolute;
    top: 24rem;
    right: 1rem;
    /*color: #fff;*/
}

.second-page-info {
    font-size: 1rem;
    border-top: 2px solid #000;
    margin-top: 0.5rem;
}
.second-page-img {
	position: absolute;
	/*bottom: -0.5rem;
	left: -10rem;*/
	bottom: 8.5rem;
	left: -38rem;
	width: 140vw;
}
.second-page-img img {
	width: 100%;
}
.second-page-img-animation {
	bottom: -0.5rem;
	transform: translateX(29rem) translateY(0);
	transition: all 1s;
}
.second-page-img-foot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.second-page-img-foot img {
	width: 100%;
}

/* 界面三 */

.third-page {
    /*background: url(../img/page03_bg.png) -8rem no-repeat;
    background-size: cover*/
}
.cover-hand-move {
    background-image: url(../img/page03_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    top: 4rem;
    height: calc(100% - 4rem);
    text-align: left;
}

.third-page-txt {
    position: absolute;
    left: 1rem;
    top: 9rem;
    z-index: 2000;
    opacity: 0;
}
.third-page-txt-show {
	opacity: 1;
	transition: opacity 1.5s;
}
.third-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
    color: #fff;
}
.aptitude-list {
	padding-top: 1rem;
}
.aptitude-list div{
	margin-top: 0.2rem;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.cover-hand-move-wrapper {
    background-image: url(../img/page03_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.container-hand-move {
    background-image: url(../img/page03_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    top: 4rem;
    height: calc(100% - 4rem);
    text-align: left;
}

.container-hand-move .bg-mask {
    height: 100%;
    width: auto;
    -webkit-mask-image: url(../img/mask_.jpg), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    -webkit-mask-image: url(../img/mask_.jpg), linear-gradient(0deg, transparent, transparent);
    mask-image: url(../img/mask_.jpg), -webkit-gradient(linear, left bottom, left top, from(transparent), to(transparent));
    mask-image: url(../img/mask_.jpg), linear-gradient(0deg, transparent, transparent);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-animation: maskClip 2s cubic-bezier(0, 0, 1, 1);
    animation: maskClip 2s cubic-bezier(0, 0, 1, 1);
}

.container-hand-move .hold-hand {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.container-hand-move .hold-hand .hand {
    position: absolute;
    height: 160%;
    top: -10%;
    left: calc(-40vh - -34px);
    -webkit-animation: xAxis 100s cubic-bezier(0, 0, 1, 1) forwards;
    animation: xAxis 100s cubic-bezier(0, 0, 1, 1) forwards;
    transform: rotateZ(20deg);
}

@-webkit-keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes maskClip {
    0% {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@-webkit-keyframes xAxis {
    100% {
        /*top: 0%;*/
        /*left: calc(50vh - 26.5px);*/
       transform-origin: -17600px 100000px;
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
        display: none;
    }
}

@keyframes xAxis {
    100% {
        /*top: 0%;*/
        transform-origin: -17600px 100000px;
        /*left: calc(50vh - 26.5px);*/
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
        display: none;
    }
}

/* 界面四 */

.fourth-page {
    background: url(../img/page04_.jpg) no-repeat;
    background-size: cover
}

.fourth-page-txt {
    position: absolute;
    left: calc(50% - 9rem);
    top: 8rem;
}

.fourth-page-title {
    font-family: 'fzztjw' !important;
    font-size: 1.5rem;
    color: #fff;
}

.fourth-page-content {
    position: absolute;
    top: 12rem;
    left: 0;
    padding: 0 0.4rem;
    overflow: hidden;
    width: 100vw;
    height: 14rem;
    box-sizing: border-box;
}
.fourth-page-list {
	position: absolute;
	left: 0;
	width: 400vw;
	transition: left .7s;
}
.left-arrow, .right-arrow {
	position: absolute;
	top: calc(50% - 1.5rem);
	width: 3rem;
	height: 3rem;
	background: rgba(0,0,0,0.45);
	border-radius: 2px;
	z-index: 200;
	text-align: center;
	line-height: 3rem;
}
.left-arrow {
	left: 1rem;
}
.right-arrow {
	right: 1rem;
}
.left-arrow i, .right-arrow i {
	font-size: 2rem;
	color: #fff;
}
.fourth-page-item {
	width: 100vw;
	height: 14rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.fourth-page-item:nth-child(1) {
	background-image: url(../img/thirdly01.jpg);
}
.fourth-page-item:nth-child(2) {
	background-image: url(../img/thirdly02.jpg);
}
.fourth-page-item:nth-child(3) {
	background-image: url(../img/thirdly03.jpg);
}
.fourth-page-item:nth-child(4) {
	background-image: url(../img/thirdly04.jpg);
}


.fourth-img-list-wrapper {

	/*width: 100vw;*/
}
.fourth-img-list {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-flow: column;
	top: 13.5rem;
	left: calc(50vw - 7.45rem);
	width: 14.9rem;
}
.fourth-img-item-wrapper {
	width: 13.9rem;
	height: 8.95rem;
	padding: 0.5rem 0.5rem 0.8rem 0.5rem;
	background: #fff;
	box-shadow: 2px 2px 2px 2px #32212b;
}
.fourth-img-item {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
}
.fourth-img-item-wrapper:nth-child(1) {
	margin-left: -3.7rem;
	transform: rotateZ(-5deg);
	z-index: 100;
}
.fourth-img-item-wrapper:nth-child(2) {
	margin-top: -5.1rem;
	margin-left: 3.7rem;
	transform: rotateZ(10deg);
	z-index: 75;
}
.fourth-img-item-wrapper:nth-child(3) {
	margin-top: -5.1rem;
	margin-left: -3.7rem;
	transform: rotateZ(-10deg);
	z-index: 50;
}
.fourth-img-item-wrapper:nth-child(4) {
	margin-top: -5.1rem;
	margin-left: 3.7rem;
	transform: rotateZ(-1deg);
	z-index: 25;
}
.fourth-img-item-1 {
	background-image: url(../img/thirdly01.jpg);
}
.fourth-img-item-2 {
	background-image: url(../img/thirdly02.jpg);
}
.fourth-img-item-3 {
	background-image: url(../img/thirdly03.jpg);
}
.fourth-img-item-4 {
	background-image: url(../img/thirdly04.jpg);
}
/*.fourth-page-list-txt {
	position: absolute;
	top: 36rem;
	left: 0;
	padding: 2rem;
	color: #fff;
	text-align: center;
	width: calc(100vw - 4rem);
}
.fourth-page-item-txt {
	display: none;
}
.fourth-page-item-txt:nth-child(1) {
	display: block;
}
.fourth-page-nav {
	position: absolute;
	
}*/

/*界面五*/
.fifth-page {
	background-image: url(../img/page05_.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.fifth-page-top {
	padding: 6rem 0 0 2rem;
	font-family: 'fzztjw' !important;
	font-size: 1.6rem;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
}

.map-dot:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background-color: #01B7BD;
    border-radius: 50%;
}
.jiangxi:after {
    content: "";
    display: block;
    background: red;
}
.fifth-page-map {
	position: relative;
}
.fifth-page-list {
	position: absolute;
	top: 40%;
	left: 1rem;
	width: 12rem;
	margin: 1rem auto;
	padding: 0.2rem;
}
.fifth-page-item {
	display: none;
	padding: 0 1rem;
	border-radius: 0.2rem;
	background: rgba(248,248,248,0.7);
	box-shadow: 0 0 2px 2px #eee;
}
.fifth-page-item:nth-child(1) {
	display: block;
}
.fifth-page-item div {
	border-top: 1px solid #eee;
	padding: 0.5rem 0;
}
.fifth-page-item {
	font-size: 12px;
	color: #333;
}
.fifth-page-item span {
	font-weight: 700;
}
/*界面六*/
.sixth-page {
	padding-top: 4.2rem;
	height: calc(100% - 4rem);
	background-image: url(../img/page_06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.sixth-page-list {
	margin-right: -2%;
	flex-wrap: wrap;
}
.sixth-page-item, .sixth-page-item-s {
	position: relative;
	display: flex;
	width: 23rem;
	height: 10rem;
	margin: 0.1rem auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 1px 1px 1px 1px #000;
	transition: all 1s;
	opacity: 0;
}

.sixth-page-item:nth-child(1) {
	background-image: url(../img/sixth01.jpg);
	margin-bottom: 0.6rem;
	transform: translateX(-24.8rem);
}
.sixth-page-item:nth-child(2) {
	background-image: url(../img/sixth05.jpg);
	transform: translateX(24.8rem);
}
.sixth-page-item-s-wrapper {
	width: 23rem;
	margin: 0.6rem auto;
}
.sixth-page-item-s {
	float: left;
	width: 11.2rem;
	height: 6rem;
	margin-bottom: 0.6rem;
}
.sixth-page-item-s:nth-child(odd) {
	margin-right: 0.6rem;
}
.sixth-page-item-s:nth-child(1) {
	background-image: url(../img/sixth03.jpg);
	transform: translateX(-12.6rem);
}
.sixth-page-item-s:nth-child(2) {
	background-image: url(../img/sixth04.jpg);
	transform: translateX(12.6rem);
}
.sixth-page-item-s:nth-child(3) {
	background-image: url(../img/sixth02.jpg);
	transform: translateX(-12.6rem);
}
.sixth-page-item-s:nth-child(4) {
	background-image: url(../img/sixth06.jpg);
	transform: translateX(12.6rem);
}
.item-content {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 0.5rem 0;
	width: 100%;
	background: rgba(0,160,233,0.7);
	color: #fff;
}
.item-title{
	text-align: center;
}

.share {
	display: flex;
	justify-content: center;
	align-items: center;
}

#ss_menu div {
	display: flex;
	justify-content: center;
	align-items: center;
}
#ss_menu i {
	display: flex;
	justify-content: center;
	align-items: center;
}
#ss_menu a {
	font-size: 12px;
	color: #fff;
}

.map-dot {
    position: absolute;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.beijing {
    left: 66.90459364%;
    top: 33.26086957%;
}

.tianjin {
    left: 71.14252061%;
    top: 40.69565217%;
}

.hainan {
    /* left:200px;
    top:200px; */
    left: 60.60188457%;
    top: 88.04347826%;
}

.hebei {
    left: 575px;
    top: 254px;
}

.shanxi {
    left: 540px;
    top: 276px;
}

.liaoning {
    left: 77.7385159%;
    top: 31.08695652%;
}

.xinjiang {
    left: 27.44405183%;
    top: 28.34782609%;
}

.jilin {
    left: 696px;
    top: 167px;
}

.heilongjiang {
    left: 79.62308598%;
    top: 16.43478261%;
}

.shanghai {
    left: 76.68080094%;
    top: 56.86956522%;
}

.jiangsu {
    left: 75.08951708%;
    top: 50.95652174%;
}

.zhejiang {
    left: 76.14958775%;
    top: 63.91304348%;
}

.anhui {
    left: 71.26030624%;
    top: 58.08695652%;
}

.fujian {
    left: 73.61601885%;
    top: 74.43478261%;
}

.jiangxi {
    left: 69.08244994%;
    top: 67.91304348%;
}

.shandong {
    left: 68.84923439%;
    top: 45.39130435%;
}

.henan {
    left: 36px;
    top: 316px;
}

.hubei {
    left: 65.37102473%;
    top: 62.43478261%;
}

.hunan {
    left: 545px;
    top: 409px;
}

.guangdong {
    left: 66.72673734%;
    top: 76.04347826%;
}

.guangxi {
    left: 506px;
    top: 461px;
}

.chongqing {
    left: 58.65724382%;
    top: 63.30434783%;
}

.sichuan {
    left: 50.05889282%;
    top: 61.56521739%;
}

.guizhou {
    left: 57.00824499%;
    top: 73.73913043%;
}

.yunnan {
    left: 405px;
    top: 462px;
}

.shanxi1 {
    left: 57.12838634%;
    top: 50.26086957%;
}



